{
  "openapi": "3.1.0",
  "info": {
    "title": "Rent Relief Bot",
    "version": "1.0.0",
    "summary": "Pay-per-call tenant tools on Base via x402.",
    "description": "Notice decoder; rent-increase, repair and deposit letters; lease-clause red flags; whole-lease scan; state tenant rights. Each call is paid in USDC through the x402 protocol; there is no API key. Informational only, not legal advice.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/markusbug/rent-relief-bot/blob/main/LICENSE"
    },
    "contact": {
      "url": "https://rentrelief.markushaas.com"
    }
  },
  "externalDocs": {
    "url": "https://rentrelief.markushaas.com/skill.md",
    "description": "Agent skill with usage guidance"
  },
  "servers": [
    {
      "url": "https://x402.bankr.bot/0x68239eb2cf30596eb98388c41cf53c4c289480ad",
      "description": "Bankr x402 endpoints (Base mainnet)"
    }
  ],
  "paths": {
    "/notice-decoder": {
      "post": {
        "operationId": "noticeDecoder",
        "summary": "paste anything your landlord sent you (letter, email, text). One Jev call says what kind of notice it is, how urgent, whether it threatens something landlords cannot do, and which tool to use next. Typed decisions, no text generation.",
        "description": "Costs $0.02 USDC per call via x402 (HTTP 402 challenge, USDC TransferWithAuthorization on Base, chain 8453). Pay with `bankr x402 call` or any x402 v2 client.",
        "x-x402": {
          "price": "0.02",
          "currency": "USDC",
          "network": "eip155:8453",
          "scheme": "exact"
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "enum": [
                        "rent_increase",
                        "pay_or_quit",
                        "cure_or_quit",
                        "termination_or_nonrenewal",
                        "court_filing",
                        "entry_notice",
                        "fee_or_charge",
                        "deposit_statement",
                        "repair_or_maintenance",
                        "renewal_offer",
                        "warning_or_rules",
                        "other"
                      ]
                    },
                    "kind_label": {
                      "type": "string"
                    },
                    "kind_confidence": {
                      "type": "number"
                    },
                    "alternatives": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "probability": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "urgency": {
                      "type": "integer",
                      "description": "0 low … 3 urgent"
                    },
                    "urgency_label": {
                      "type": "string",
                      "enum": [
                        "low",
                        "medium",
                        "high",
                        "urgent"
                      ]
                    },
                    "urgency_confidence": {
                      "type": "number"
                    },
                    "flags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "probability": {
                            "type": "number"
                          },
                          "why": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "what_it_means": {
                      "type": "string"
                    },
                    "do_next": {
                      "type": "string"
                    },
                    "get_help_now": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Set when the tenant should contact legal aid today"
                    },
                    "mentions": {
                      "type": "object",
                      "properties": {
                        "dates": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "amounts": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "day_counts": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "next_tool": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "input": {
                          "type": "object"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "generated_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (not charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. The `payment-required` header carries the x402 v2 requirements."
          },
          "502": {
            "description": "Upstream model failure (not charged). Retry once."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notice": {
                    "type": "string",
                    "description": "The text you received, as-is (40 to 12000 chars). Letter, email, text message, or a court paper."
                  },
                  "state": {
                    "type": "string",
                    "description": "US state, e.g. CA or California"
                  }
                },
                "required": [
                  "notice",
                  "state"
                ]
              },
              "example": {
                "notice": "hey its mike the landlord. u still havent paid for this month. if i dont have it by friday im changing the locks and putting ur stuff on the curb. also ur always complaining to the city about the heat so dont expect me to renew",
                "state": "NY"
              }
            }
          }
        }
      }
    },
    "/rent-letter": {
      "post": {
        "operationId": "rentLetter",
        "summary": "generate a ready-to-send tenant letter (rent-increase negotiation, repair demand, or security-deposit return) tailored to your US state.",
        "description": "Costs $0.25 USDC per call via x402 (HTTP 402 challenge, USDC TransferWithAuthorization on Base, chain 8453). Pay with `bankr x402 call` or any x402 v2 client.",
        "x-x402": {
          "price": "0.25",
          "currency": "USDC",
          "network": "eip155:8453",
          "scheme": "exact"
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subject": {
                      "type": "string"
                    },
                    "letter": {
                      "type": "string",
                      "description": "Full letter body, ready to send"
                    },
                    "key_points": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "next_steps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (not charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. The `payment-required` header carries the x402 v2 requirements."
          },
          "502": {
            "description": "Upstream model failure (not charged). Retry once."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "letter_type": {
                    "type": "string",
                    "enum": [
                      "rent_increase",
                      "repair_request",
                      "deposit_return"
                    ],
                    "description": "Kind of letter to write"
                  },
                  "tenant_name": {
                    "type": "string",
                    "description": "Tenant's full name"
                  },
                  "landlord_name": {
                    "type": "string",
                    "description": "Landlord or property manager name"
                  },
                  "property_address": {
                    "type": "string",
                    "description": "Rental unit address"
                  },
                  "state": {
                    "type": "string",
                    "description": "US state, e.g. CA or California"
                  },
                  "details": {
                    "type": "string",
                    "description": "Plain-English description of the situation (max 4000 chars)"
                  },
                  "current_rent": {
                    "type": "number",
                    "description": "Current monthly rent in USD (optional)"
                  },
                  "proposed_rent": {
                    "type": "number",
                    "description": "Proposed new rent in USD, for rent_increase letters (optional)"
                  },
                  "lease_start": {
                    "type": "string",
                    "description": "Lease start date, YYYY-MM-DD (optional)"
                  },
                  "tone": {
                    "type": "string",
                    "enum": [
                      "firm",
                      "cooperative"
                    ],
                    "description": "Letter tone (default firm)"
                  }
                },
                "required": [
                  "letter_type",
                  "tenant_name",
                  "landlord_name",
                  "property_address",
                  "state",
                  "details"
                ]
              },
              "example": {
                "letter_type": "rent_increase",
                "tenant_name": "Sam Lee",
                "landlord_name": "Acme Property Management",
                "property_address": "12 Elm St Apt 4, Oakland CA",
                "state": "CA",
                "details": "Written notice on Sept 3 raising rent from 2100 to 2500 from Oct 1. Month-to-month, 3 years here, never late.",
                "current_rent": 2100,
                "proposed_rent": 2500
              }
            }
          }
        }
      }
    },
    "/lease-clause": {
      "post": {
        "operationId": "leaseClause",
        "summary": "explain a lease clause in plain English, flag red flags, and suggest edits to ask for, for your US state.",
        "description": "Costs $0.10 USDC per call via x402 (HTTP 402 challenge, USDC TransferWithAuthorization on Base, chain 8453). Pay with `bankr x402 call` or any x402 v2 client.",
        "x-x402": {
          "price": "0.10",
          "currency": "USDC",
          "network": "eip155:8453",
          "scheme": "exact"
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plain_english": {
                      "type": "string"
                    },
                    "what_it_means_for_you": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "red_flags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "severity": {
                            "type": "string"
                          },
                          "issue": {
                            "type": "string"
                          },
                          "why": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "negotiation_asks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (not charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. The `payment-required` header carries the x402 v2 requirements."
          },
          "502": {
            "description": "Upstream model failure (not charged). Retry once."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clause": {
                    "type": "string",
                    "description": "Verbatim lease clause text (20 to 6000 chars)"
                  },
                  "state": {
                    "type": "string",
                    "description": "US state, e.g. NY or New York"
                  },
                  "context": {
                    "type": "string",
                    "description": "Optional extra context about your situation"
                  }
                },
                "required": [
                  "clause",
                  "state"
                ]
              },
              "example": {
                "clause": "Tenant shall be responsible for all repairs and maintenance of the premises, regardless of cause, and waives any claim against Landlord for habitability.",
                "state": "NY"
              }
            }
          }
        }
      }
    },
    "/lease-scan": {
      "post": {
        "operationId": "leaseScan",
        "summary": "scan a whole residential lease and rank the clauses a tenant should push back on before signing. Every clause is classified by Jev (TypeSafe's System One model): typed decisions with calibrated confidence, no text generation, no hallucinated law.",
        "description": "Costs $0.50 USDC per call via x402 (HTTP 402 challenge, USDC TransferWithAuthorization on Base, chain 8453). Pay with `bankr x402 call` or any x402 v2 client.",
        "x-x402": {
          "price": "0.50",
          "currency": "USDC",
          "network": "eip155:8453",
          "scheme": "exact"
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "clauses_scanned": {
                          "type": "integer"
                        },
                        "flagged": {
                          "type": "integer"
                        },
                        "serious": {
                          "type": "integer"
                        },
                        "topics": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          }
                        },
                        "overall": {
                          "type": "string"
                        }
                      }
                    },
                    "findings": {
                      "type": "array",
                      "description": "Clauses that need a look, worst first",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clause_number": {
                            "type": "integer"
                          },
                          "topic": {
                            "type": "string"
                          },
                          "risk": {
                            "type": "integer",
                            "description": "0 standard … 4 severe"
                          },
                          "risk_label": {
                            "type": "string",
                            "enum": [
                              "standard",
                              "minor",
                              "one-sided",
                              "serious",
                              "severe"
                            ]
                          },
                          "confidence": {
                            "type": "number"
                          },
                          "flags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "probability": {
                                  "type": "number"
                                },
                                "why": {
                                  "type": "string"
                                },
                                "ask": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "excerpt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "next_step": {
                      "type": "string"
                    },
                    "disclaimer": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "generated_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (not charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. The `payment-required` header carries the x402 v2 requirements."
          },
          "502": {
            "description": "Upstream model failure (not charged). Retry once."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lease": {
                    "type": "string",
                    "description": "Full lease text, plain text (200 to 60000 chars). Paste it as-is; the scan splits it into clauses."
                  },
                  "state": {
                    "type": "string",
                    "description": "US state, e.g. CA or California"
                  }
                },
                "required": [
                  "lease",
                  "state"
                ]
              },
              "example": {
                "lease": "RESIDENTIAL LEASE AGREEMENT\n\n1. TERM. Twelve months, renewing automatically for further twelve-month terms unless Tenant gives 90 days written notice.\n\n2. RENT. $2,500 monthly. Late rent incurs $150 plus $25 per day.\n\n3. DEFAULT. On any default Landlord may change the locks and remove Tenant's belongings without court order.\n\n4. REPAIRS. Tenant is responsible for all repairs regardless of cause.",
                "state": "CA"
              }
            }
          }
        }
      }
    },
    "/tenant-rights": {
      "get": {
        "operationId": "tenantRights",
        "summary": "quick summary of tenant protections in a US state on one topic (deposit, rent_increase, eviction, repairs, entry, lease_break, late_fees, retaliation).",
        "description": "Costs $0.05 USDC per call via x402 (HTTP 402 challenge, USDC TransferWithAuthorization on Base, chain 8453). Pay with `bankr x402 call` or any x402 v2 client.",
        "x-x402": {
          "price": "0.05",
          "currency": "USDC",
          "network": "eip155:8453",
          "scheme": "exact"
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "string"
                    },
                    "key_rules": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "common_landlord_violations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "where_to_get_help": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "confidence": {
                      "type": "string"
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (not charged)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. The `payment-required` header carries the x402 v2 requirements."
          },
          "502": {
            "description": "Upstream model failure (not charged). Retry once."
          }
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "US state, e.g. TX or Texas"
          },
          {
            "name": "topic",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "deposit",
                "rent_increase",
                "eviction",
                "repairs",
                "entry",
                "lease_break",
                "late_fees",
                "retaliation"
              ]
            },
            "description": "Topic to summarise"
          }
        ]
      }
    }
  }
}
